// CREATE POST
.createpost {
  &__header {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  &__title {
    border: 2px solid #eee;
  }

  &__input-field {
    padding: 5px 5px 15px;
    width: 100%;
    label {
      display: block;
      padding-bottom: 5px;
      white-space: nowrap;
    }
    input {
      font-size: 1.5rem;
      height: 3.5rem;
      padding: 5px;
      width: 100%;
    }
  }

  &__categories {
    padding: 5px;
    h2 {
      font-size: 1.5rem;
    }
  }

  &__radio {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    input {
      margin: 0;
    }
    margin: 10px 0;
  }

  &__submit-btn {
    margin: 5px;
    &:hover {
      background-color: #ffffff;
      color: #000000;
    }
  }
}

// STYLING FOR TINYMCE WYSIWYG EDITOR
.tox {
  &.tox-tinymce {
    border-radius: 0;
  }
}

.tox-promotion {
  display: none;
}

.tox-statusbar__branding {
  display: none;
}
