// SETTINGS ICON
.settings-icon {
  position: absolute;
  right: 0;
  .fa-cog {
    padding: 5px;
    font-size: 1.5rem;
  }
}

// AUTHOR
.author {
  width: 100%;
  text-align: center;
  &__name {
    text-transform: uppercase;
  }

  &__role {
    font-family: "IBM Plex Mono", monospace;
    color: #939393;
    padding: 10px;
    margin-bottom: 2rem;
  }
}

// ADMIN SEARCH BAR
.search-bar {
  &.admin-search {
    margin: 0 auto;
  }
}

// ADMIN ACTIONS
.admin-actions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 2rem;
  .btn {
    text-align: center;
    width: 200px;
    &:hover {
      background-color: #000000;
      color: white;
    }
  }
}

// CREATE A POST MESSAGE
.createapost-mess {
  font-size: 1.125rem;
  font-weight: 500;
  margin: 2rem;
  text-align: center;
}

// ADMIN GRID
.admin-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 2rem 0;
}

// ADMIN POST
.admin-post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  &__info {
    padding: 1rem;
    text-align: center;
    margin: auto 0;
    & span {
      display: block;
      margin: 10px;
    }
  }

  &__title {
    font-weight: 500;
  }

  &__author {
    color: #939393;
  }

  &__date {
    font-size: 14px;
    color: #a5a5a5;
  }

  &__actions {
    display: flex;
    .btn {
      font-size: 1rem;
      padding: 10px 0px;
      display: inline-block;
      text-align: center;
      width: 50%;
    }
  }
}

// MEDIA QUERIES
@media (max-width: 1024px) {
  .admin-sorting {
    text-align: center;
    select {
      margin: 1rem;
      position: static;
      float: none;
    }
  }
}

@media (max-width: 768px) {
  .admin-grid {
    grid-template-columns: 1fr;
  }
}
