/* =========================== */
/* START OF POSTS NAV */
/* =========================== */
.posts-nav__categories {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.posts-nav__btn {
  font-size: 16px;
  font-weight: 300;
  display: block;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 20px;
  padding: 5px 15px;
  white-space: nowrap;
  transition: 0.45s;
}
.posts-nav__btn:hover {
  cursor: pointer;
  background-color: #000000;
  color: #ffffff;
}

/* =========================== */
/* END OF POSTS NAV */
/* =========================== */
.category-title {
  padding-top: 2rem;
  text-align: center;
}

.posts-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 2rem 0;
}

/* =========================== */
/* START OF POST */
/* =========================== */
.post {
  width: 100%;
  height: 100%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  transition: 0.45s;
  text-align: left;
}
.post__author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
}
.post__author-img {
  width: 20px;
  margin-right: 5px;
}
.post__author-name {
  font-size: 12px;
}
.post__date {
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
}
.post__title {
  font-weight: bold;
  margin-bottom: 10px;
}
.post__category {
  width: fit-content;
  background-color: #e9e9e9;
  padding: 5px 10px;
  font-size: 10px;
  white-space: nowrap;
}
.post:hover {
  cursor: pointer;
  transform: scale(0.975);
}

/* =========================== */
/* END OF POST */
/* =========================== */
/* =========================== */
/* START OF MEDIA QUERIES */
/* =========================== */
@media (max-width: 1024px) {
  .posts-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .posts-nav {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .posts-nav__categories {
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 508px) {
  .posts-grid {
    grid-template-columns: 1fr;
  }
}
/* =========================== */
/* END OF MEDIA QUERIES */
/* =========================== */
.about-header {
  text-align: center;
}
.about-header .logo {
  justify-content: center;
}
.about-header .logo img {
  width: 100px;
}
.about-header .logo span {
  font-size: 2rem;
}
.about-header h2 {
  font-size: 2rem;
  font-family: "IBM Plex Mono", monospace;
  padding: 30px 0px;
}

.about-divider {
  width: 85%;
  margin: 0 auto;
}

.about-content {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}
.about-content img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  margin-top: 2rem;
}
.about-content p {
  margin: 1rem 0;
}

@media (max-width: 768px) {
  .about-content {
    width: 100%;
  }
}
.container {
  width: 90%;
  margin: 0 auto;
}

.contact-header {
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
}
.contact-header p {
  padding: 1rem;
}

/* =========================== */
/* START OF CONTACT FORM */
/* =========================== */
.contact-form {
  border: 1px solid #000000;
  padding: 2rem;
  width: 100%;
}
.contact-form__name-field {
  width: 100%;
  display: flex;
}
.contact-form__name-field > * {
  width: 50%;
}
.contact-form__name-field > * input {
  width: 100%;
}
.contact-form__input-field {
  padding: 5px 5px 15px;
  width: 100%;
}
.contact-form__input-field label {
  display: block;
  padding-bottom: 5px;
  white-space: nowrap;
}
.contact-form__input-field input {
  padding: 5px;
  width: 100%;
}
.contact-form__input-field textarea {
  padding: 5px;
  width: 100%;
  resize: vertical;
}
.contact-form__submit-btn {
  margin: 5px;
}
.contact-form__submit-btn:hover {
  background-color: #ffffff;
  color: #000000;
}

/* =========================== */
/* END OF CONTACT FORM */
/* =========================== */
@media (max-width: 768px) {
  .contact-form__name-field {
    display: block;
  }
  .contact-form__name-field > * {
    width: 100%;
  }
}
.article {
  width: 80%;
  margin: 0 auto;
}
.article__author {
  display: block;
  font-size: 20px;
  padding-bottom: 1rem;
}
.article__date {
  display: block;
  color: #939393;
  font-size: 1rem;
  padding-bottom: 1rem;
}
.article__category {
  display: inline-block;
  background-color: #e9e9e9;
  padding: 10px 20px;
  margin-top: 1rem;
  font-size: 1rem;
  white-space: nowrap;
}
.article h1 {
  font-size: 32px;
  font-weight: 700;
  margin: 1rem 0;
}
.article h2 {
  font-size: 26px;
  font-weight: 700;
  margin: 1rem 0;
}
.article h3 {
  font-size: 22px;
  font-weight: 700;
  margin: 1rem 0;
}
.article h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 1rem 0;
}
.article p {
  font-size: 16px;
  padding: 5px 0px;
}
.article ul,
.article ol {
  text-align: left;
  display: block;
  margin: 1em 0;
  padding-inline-start: 40px;
}
.article ul {
  list-style-type: disc;
}
.article ol {
  list-style-type: decimal;
}
.article li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.article strong {
  font-weight: 600;
}
.article em {
  font-style: italic;
}
.article img {
  width: 100%;
  height: 100%;
}
.article a {
  color: #0000EE;
}
.article a:visited {
  color: #551A8B;
}
.article a:active {
  color: #EE0000;
}

@media (max-width: 768px) {
  .article {
    width: 100%;
    margin: 0;
  }
}
.search-header {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.search-results {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.search-err {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem 0;
}

.settings-icon {
  position: absolute;
  right: 0;
}
.settings-icon .fa-cog {
  padding: 5px;
  font-size: 1.5rem;
}

.author {
  width: 100%;
  text-align: center;
}
.author__name {
  text-transform: uppercase;
}
.author__role {
  font-family: "IBM Plex Mono", monospace;
  color: #939393;
  padding: 10px;
  margin-bottom: 2rem;
}

.search-bar.admin-search {
  margin: 0 auto;
  margin-bottom: 2rem;
}

.admin-actions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.admin-actions .btn {
  text-align: center;
  width: 200px;
}
.admin-actions .btn:hover {
  background-color: #000000;
  color: white;
}

.admin-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 2rem 0;
}

/* =========================== */
/* START OF ADMIN POST */
/* =========================== */
.admin-post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
}
.admin-post__info {
  padding: 1rem;
  text-align: center;
  margin: auto 0;
}
.admin-post__info span {
  display: block;
  margin: 10px;
}
.admin-post__title {
  font-weight: 500;
}
.admin-post__author {
  color: #939393;
}
.admin-post__date {
  font-size: 14px;
  color: #a5a5a5;
}
.admin-post__actions {
  display: flex;
}
.admin-post__actions .btn {
  font-size: 1rem;
  padding: 10px 0px;
  display: inline-block;
  text-align: center;
  width: 50%;
}

/* =========================== */
/* END OF ADMIN POST */
/* =========================== */
@media (max-width: 1024px) {
  .admin-sorting {
    text-align: center;
  }
  .admin-sorting select {
    margin: 1rem;
    position: static;
    float: none;
  }
}
@media (max-width: 768px) {
  .admin-grid {
    grid-template-columns: 1fr;
  }
}
.login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-header {
  text-align: center;
}
.login-form {
  padding: 10px;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.login-form__input-field {
  padding: 5px 5px 10px;
  width: 100%;
}
.login-form__input-field label {
  text-align: left;
  display: block;
  padding-bottom: 5px;
  white-space: nowrap;
}
.login-form__input-field input {
  padding: 5px;
  width: 100%;
}
.login__submit-btn {
  margin: 5px;
}
.login__submit-btn:hover {
  background-color: #ffffff;
  color: #000000;
}
.login-err {
  margin: 1rem;
}

.forgot-password {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .login-form {
    width: 100%;
    margin: 0;
  }
}
.logout-btn {
  margin: 1rem;
  text-decoration: underline;
}

.settings {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.settings .btn {
  margin: 1rem;
}
.settings .btn:hover {
  color: #ffffff;
  background-color: #000000;
}

/* =========================== */
/* START OF EDIT INFO */
/* =========================== */
.info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info-header {
  font-size: 1.5rem;
  padding: 5px;
}
.info-form {
  padding: 10px;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.info-form__name-field {
  width: 100%;
  display: flex;
}
.info-form__name-field > * {
  width: 50%;
}
.info-form__name-field > * input {
  width: 100%;
}
.info-form__input-field {
  padding: 5px 5px 10px;
  width: 100%;
}
.info-form__input-field label {
  text-align: left;
  display: block;
  padding-bottom: 5px;
  white-space: nowrap;
}
.info-form__input-field input {
  padding: 5px;
  width: 100%;
}
.info__submit-btn {
  margin: 5px;
}
.info__submit-btn:hover {
  background-color: #ffffff;
  color: #000000;
}

/* =========================== */
/* END OF EDIT INFO */
/* =========================== */
@media (max-width: 768px) {
  .info-form {
    width: 80%;
  }
  .info-form__name-field {
    display: block;
  }
  .info-form__name-field > * {
    width: 100%;
  }
}
/* =========================== */
/* START OF PASSWORD */
/* =========================== */
.password {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.password-header {
  font-size: 1.5rem;
  padding: 5px;
}
.password-form {
  padding: 10px;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.password-form__name-field {
  width: 100%;
  display: flex;
}
.password-form__name-field > * {
  width: 50%;
}
.password-form__name-field > * input {
  width: 100%;
}
.password-form__input-field {
  padding: 5px 5px 10px;
  width: 100%;
}
.password-form__input-field label {
  text-align: left;
  display: block;
  padding-bottom: 5px;
  white-space: nowrap;
}
.password-form__input-field input {
  padding: 5px;
  width: 100%;
}
.password__submit-btn {
  margin: 5px;
}
.password__submit-btn:hover {
  background-color: #ffffff;
  color: #000000;
}

/* =========================== */
/* END OF PASSWORD */
/* =========================== */
@media (max-width: 768px) {
  .password-form {
    width: 80%;
  }
}
.editpost__header {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.editpost__title {
  border: 2px solid #eee;
}
.editpost__input-field {
  padding: 5px 5px 15px;
  width: 100%;
}
.editpost__input-field label {
  display: block;
  padding-bottom: 5px;
  white-space: nowrap;
}
.editpost__input-field input {
  font-size: 1.5rem;
  height: 3.5rem;
  padding: 5px;
  width: 100%;
}
.editpost__categories {
  padding: 5px;
}
.editpost__categories h2 {
  font-size: 1.5rem;
}
.editpost__radio {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 10px 0;
}
.editpost__radio input {
  margin: 0;
}
.editpost__submit-btn {
  margin: 5px;
}
.editpost__submit-btn:hover {
  background-color: #ffffff;
  color: #000000;
}

.tox.tox-tinymce {
  border-radius: 0;
}

.tox-promotion {
  display: none;
}

.tox-statusbar__branding {
  display: none;
}

/* =========================== */
/* START OF EDIT EDITOR */
/* =========================== */
.editeditor {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.editeditor-header {
  text-align: center;
}
.editeditor-form {
  padding: 10px;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.editeditor-form__name-field {
  width: 100%;
  display: flex;
}
.editeditor-form__name-field > * {
  width: 50%;
}
.editeditor-form__name-field > * input {
  width: 100%;
}
.editeditor-form__input-field {
  padding: 5px 5px 10px;
  width: 100%;
}
.editeditor-form__input-field label {
  text-align: left;
  display: block;
  padding-bottom: 5px;
  white-space: nowrap;
}
.editeditor-form__input-field input {
  padding: 5px;
  width: 100%;
}
.editeditor__submit-btn {
  margin: 5px;
}
.editeditor__submit-btn:hover {
  background-color: #ffffff;
  color: #000000;
}

/* =========================== */
/* END OF EDIT EDITOR */
/* =========================== */
@media (max-width: 768px) {
  .editeditor-form {
    width: 100%;
    margin: 0;
  }
  .editeditor-form__name-field {
    display: block;
  }
  .editeditor-form__name-field > * {
    width: 100%;
  }
}
.createpost__header {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.createpost__title {
  border: 2px solid #eee;
}
.createpost__input-field {
  padding: 5px 5px 15px;
  width: 100%;
}
.createpost__input-field label {
  display: block;
  padding-bottom: 5px;
  white-space: nowrap;
}
.createpost__input-field input {
  font-size: 1.5rem;
  height: 3.5rem;
  padding: 5px;
  width: 100%;
}
.createpost__categories {
  padding: 5px;
}
.createpost__categories h2 {
  font-size: 1.5rem;
}
.createpost__radio {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 10px 0;
}
.createpost__radio input {
  margin: 0;
}
.createpost__submit-btn {
  margin: 5px;
}
.createpost__submit-btn:hover {
  background-color: #ffffff;
  color: #000000;
}

.tox.tox-tinymce {
  border-radius: 0;
}

.tox-promotion {
  display: none;
}

.tox-statusbar__branding {
  display: none;
}

/* =========================== */
/* START OF CREATE EDITOR */
/* =========================== */
.createeditor {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.createeditor-header {
  text-align: center;
}
.createeditor-form {
  padding: 10px;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.createeditor-form__name-field {
  width: 100%;
  display: flex;
}
.createeditor-form__name-field > * {
  width: 50%;
}
.createeditor-form__name-field > * input {
  width: 100%;
}
.createeditor-form__input-field {
  padding: 5px 5px 10px;
  width: 100%;
}
.createeditor-form__input-field label {
  text-align: left;
  display: block;
  padding-bottom: 5px;
  white-space: nowrap;
}
.createeditor-form__input-field input {
  padding: 5px;
  width: 100%;
}
.createeditor__submit-btn {
  margin: 5px;
}
.createeditor__submit-btn:hover {
  background-color: #ffffff;
  color: #000000;
}

/* =========================== */
/* END OF CREATE EDITOR */
/* =========================== */
@media (max-width: 768px) {
  .createeditor-form {
    width: 100%;
    margin: 0;
  }
  .createeditor-form__name-field {
    display: block;
  }
  .createeditor-form__name-field > * {
    width: 100%;
  }
}
/* =========================== */
/* START OF CREATE CATEGORY */
/* =========================== */
.createcategory {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.createcategory-header {
  text-align: center;
}
.createcategory-form {
  padding: 10px;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.createcategory-form__input-field {
  padding: 5px 5px 10px;
  width: 100%;
}
.createcategory-form__input-field label {
  text-align: left;
  display: block;
  padding-bottom: 5px;
  white-space: nowrap;
}
.createcategory-form__input-field input {
  padding: 5px;
  width: 100%;
}
.createcategory__submit-btn {
  margin: 5px;
}
.createcategory__submit-btn:hover {
  background-color: #ffffff;
  color: #000000;
}

/* =========================== */
/* END OF CREATE CATEGORY */
/* =========================== */
@media (max-width: 768px) {
  .createcategory-form {
    width: 100%;
    margin: 0;
  }
}
.verifyaccount {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.verifyaccount-header {
  text-align: center;
  font-size: 20px;
  padding: 5px;
}
.verifyaccount-form {
  padding: 10px;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.verifyaccount-form__input-field {
  padding: 5px 5px 10px;
  width: 100%;
}
.verifyaccount-form__input-field label {
  text-align: left;
  display: block;
  padding-bottom: 5px;
  white-space: nowrap;
}
.verifyaccount-form__input-field input {
  padding: 5px;
  width: 100%;
}
.verifyaccount__submit-btn {
  margin: 5px;
}
.verifyaccount__submit-btn:hover {
  background-color: #ffffff;
  color: #000000;
}

@media (max-width: 768px) {
  .verifyaccount-form {
    width: 100%;
    margin: 0;
  }
}
.resetpassword {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resetpassword-header {
  text-align: center;
  font-size: 20px;
  padding: 5px;
}
.resetpassword-form {
  padding: 10px;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.resetpassword-form__input-field {
  padding: 5px 5px 10px;
  width: 100%;
}
.resetpassword-form__input-field label {
  text-align: left;
  display: block;
  padding-bottom: 5px;
  white-space: nowrap;
}
.resetpassword-form__input-field input {
  padding: 5px;
  width: 100%;
}
.resetpassword__submit-btn {
  margin: 5px;
}
.resetpassword__submit-btn:hover {
  background-color: #ffffff;
  color: #000000;
}

@media (max-width: 768px) {
  .resetpassword-form {
    width: 100%;
    margin: 0;
  }
}
.vieweditors {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.vieweditors-header {
  text-align: center;
}

.editor-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 2rem 0;
}

/* =========================== */
/* START OF EDITOR CARD */
/* =========================== */
.editor-card {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
}
.editor-card__info {
  padding: 1rem;
  text-align: center;
}
.editor-card__info span {
  word-break: break-word;
  display: block;
  margin: 10px;
}
.editor-card__name {
  font-weight: 500;
}
.editor-card__email {
  color: #939393;
}
.editor-card__actions {
  display: flex;
}
.editor-card__actions .btn {
  padding: 10px 0px;
  display: inline-block;
  text-align: center;
  width: 50%;
}

/* =========================== */
/* END OF EDITOR CARD */
/* =========================== */
@media (max-width: 768px) {
  .editor-grid {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 320px) {
  .editor-card__actions {
    flex-direction: column;
  }
  .editor-card__actions .btn {
    width: 100%;
  }
}
.viewcategories {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.viewcategories-header {
  text-align: center;
}

.category-grid {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 2rem 0;
}

/* =========================== */
/* START OF CATEGORY CARD */
/* =========================== */
.category-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
}
.category-card__info {
  padding: 1rem;
  text-align: center;
  margin: auto 0;
}
.category-card__info span {
  display: block;
  margin: 10px;
}
.category-card__name {
  font-weight: 500;
}
.category-card__actions {
  display: flex;
}
.category-card__actions .btn {
  padding: 10px 0px;
  display: inline-block;
  text-align: center;
  width: 50%;
}

/* =========================== */
/* END OF CATEGORY CARD */
/* =========================== */
@media (max-width: 768px) {
  .category-grid {
    width: 90%;
  }
}
@media (max-width: 390px) {
  .category-card__actions {
    flex-direction: column;
  }
  .category-card__actions .btn {
    width: 100%;
  }
}
.success {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.success .btn {
  margin: 1rem;
}
.success .btn:hover {
  color: #ffffff;
  background-color: #000000;
}

.forgotpassword {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.forgotpassword-header, .forgotpassword-info {
  text-align: center;
  padding: 5px;
}
.forgotpassword-form {
  padding: 10px;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.forgotpassword-form__input-field {
  padding: 5px 5px 10px;
  width: 100%;
}
.forgotpassword-form__input-field label {
  text-align: left;
  display: block;
  padding-bottom: 5px;
  white-space: nowrap;
}
.forgotpassword-form__input-field input {
  padding: 5px;
  width: 100%;
}
.forgotpassword__submit-btn {
  margin: 5px;
}
.forgotpassword__submit-btn:hover {
  background-color: #ffffff;
  color: #000000;
}
.forgotpassword__go-back {
  text-decoration: underline;
}

.submit-mess {
  padding: 1rem;
}

@media (max-width: 768px) {
  .forgotpassword-form {
    width: 100%;
    margin: 0;
  }
}
/* =========================== */
/* START OF GLOBAL */
/* =========================== */
* {
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  letter-spacing: 0.5px;
  font-size: 1rem;
  font-weight: 300;
  position: relative;
  top: 80px;
  min-height: calc(100vh - 80px);
}

h1 {
  font-size: 32px;
}

a {
  text-decoration: none;
  color: #000000;
}

i {
  padding: 0px 10px;
  font-size: 1.25rem;
}

textarea,
input {
  font-family: "IBM Plex Sans", sans-serif;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 55px;
}
.logo span {
  font-family: "Questrial", sans-serif;
  font-size: 1rem;
  margin: 0px 2px;
}

.btn {
  border: none;
  padding: 10px 15px;
  white-space: nowrap;
  transition: 0.45s;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1rem;
}
.btn--black {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #000000;
}
.btn--white {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}
.btn:hover {
  cursor: pointer;
}

.search-bar {
  display: flex;
  align-items: center;
  width: fit-content;
  background-color: #f5f5f5;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 0px 10px;
}
.search-bar i {
  padding: 2px;
  color: #a5a5a5;
}
.search-bar input[type=search] {
  border: none;
  background-color: inherit;
}
.search-bar input[type=search]:focus-visible {
  outline: none;
}
.search-bar input[type=search]::-webkit-search-decoration,
.search-bar input[type=search]::-webkit-search-cancel-button,
.search-bar input[type=search]::-webkit-search-results-button,
.search-bar input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.sorting select {
  height: 2rem;
  background-color: white;
  border: 1px solid #000000;
  padding: 2.5px;
}
.sorting select:focus {
  outline: none;
}

.home-icon {
  position: absolute;
}
.home-icon .fa-house {
  padding: 5px;
  font-size: 1.5rem;
}

.icon-wrapper {
  height: 2rem;
  position: relative;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.4588235294);
}
.modal--active {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__card {
  text-align: center;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  min-width: 300px;
  width: 40%;
  height: 250px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal__card > span {
  margin: 5px;
}
.modal__card > span.modal__question {
  margin: 10px;
  font-size: 1.25rem;
  font-weight: 400;
}
.modal__card > span.modal__post-author {
  color: #939393;
}
.modal__card > span.modal__post-date {
  margin-bottom: 15px;
  font-size: 14px;
  color: #a5a5a5;
}
.modal__card > span.modal__post-editor {
  margin: 10px;
  margin-bottom: 20px;
  color: #000000;
}
.modal__cancel {
  padding: 10px 15px;
  white-space: nowrap;
}

.publish-err {
  text-align: center;
  margin-top: 1rem;
}

.message {
  display: block;
  text-align: center;
  margin-top: 2rem;
}

.search {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 2rem;
}

/* =========================== */
/* END OF GLOBAL */
/* =========================== */
/* =========================== */
/* START OF NAVBAR */
/* =========================== */
.nav {
  background-color: #ffffff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0px 10px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
}
.nav__logo {
  width: fit-content;
}
.nav__logo a {
  height: 100%;
  display: flex;
  align-items: center;
}
.nav__logo a img {
  width: 55px;
}
.nav__logo a span {
  font-family: "Questrial", sans-serif;
  font-size: 1rem;
  margin: 0px 2px;
}
.nav__nav-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 2;
}
.nav__social-links {
  display: flex;
  justify-self: flex-end;
}
.nav__search-btn {
  display: none;
  border: none;
  background: none;
  margin-left: auto;
  margin-right: 15px;
  padding: 0;
}
.nav__search-btn i {
  padding: 0;
  font-size: 1.75rem;
  color: #a5a5a5;
}
.nav__hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.nav__hamburger div, .nav__hamburger::before, .nav__hamburger::after {
  transition: 0.45s;
  content: "";
  background-color: #a5a5a5;
  height: 4px;
  width: 2.5rem;
  border-radius: 5px;
  margin: 3px 0px;
}
.nav__hamburger--active::before {
  transform: rotate(-45deg) translate(-4px, 4px);
}
.nav__hamburger--active::after {
  transform: rotate(45deg) translate(-3px, -3px);
}
.nav__hamburger--active div {
  display: none;
}

/* =========================== */
/* END OF NAVBAR */
/* =========================== */
/* =========================== */
/* START OF MOBILE MENU */
/* =========================== */
.mobile-menu {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 100%;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  top: 80px;
  overflow: auto;
  height: 100%;
  transition: 0.45s;
  z-index: 100;
}
.mobile-menu__nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.mobile-menu__nav-links a {
  transition: 0.45s;
  width: 100vw;
  padding: 60px 0;
}
.mobile-menu__nav-links a:hover {
  background-color: #000000;
  color: white;
}
.mobile-menu__social-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-menu--active {
  left: 0;
}

/* =========================== */
/* END OF MOBILE MENU */
/* =========================== */
.search-modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.4588235294);
}
.search-modal--active {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-modal__card {
  position: relative;
  text-align: center;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  min-width: 260px;
  width: 70%;
  height: 175px;
  background-color: #ffffff;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search-modal__close {
  position: absolute;
  right: 10px;
  top: 10px;
}
.search-modal__title {
  font-size: 1.5rem;
}

.wrapper {
  display: grid;
  grid-template-columns: 8fr 4fr;
}

.main {
  padding: 1.5rem;
  min-height: calc(100vh - 80px);
}

.divider {
  display: none;
}

/* =========================== */
/* START OF ASIDE SECTION */
/* =========================== */
.aside {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
  top: 80px;
  position: sticky;
  overflow-y: scroll;
}
.aside__popular-articles, .aside__most-recent {
  width: 100%;
}
.aside__popular-articles h3, .aside__most-recent h3 {
  font-weight: 400;
  font-size: 1rem;
  margin: 30px 0px;
}
.aside__article {
  margin: 15px 0px;
  padding: 10px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  transition: 0.45s;
}
.aside__article:hover {
  transform: scale(0.975);
}
.aside__newsletter {
  margin: 45px 0px;
  display: flex;
  flex-direction: column;
}
.aside__newsletter h3 {
  font-weight: 400;
}
.aside__newsletter span {
  display: block;
  font-size: 12px;
  margin: 10px 0px;
}
.aside__newsletter form {
  display: flex;
}
.aside__newsletter form input {
  background-color: #f5f5f5;
  border: none;
  padding: 10px;
  height: 41px;
  min-width: 120px;
  font-size: 12px;
}
.aside__newsletter form input:focus-visible {
  outline: none;
}

/* =========================== */
/* END OF ASIDE SECTION */
/* =========================== */
footer {
  padding: 1.5rem;
  text-align: left;
  width: 100%;
}
footer .footer-text {
  font-size: 10px;
}

/* =========================== */
/* START OF MEDIA QUERIES */
/* =========================== */
@media (max-width: 768px) {
  .modal__card {
    width: 60%;
  }
  .wrapper {
    grid-template-columns: 1fr;
  }
  .divider {
    display: block;
    width: 85%;
    margin: 0 auto;
  }
  .aside {
    justify-content: center;
    align-items: center;
    position: static;
    height: 100%;
  }
  .aside__newsletter {
    align-items: center;
    text-align: center;
  }
  .nav .search-bar {
    display: none;
  }
  .nav__nav-links {
    display: none;
  }
  .nav__social-links {
    display: none;
  }
  .nav__search-btn {
    display: block;
  }
  .nav__hamburger {
    display: flex;
    flex-direction: column;
  }
  footer {
    text-align: center;
  }
}
/* =========================== */
/* END OF MEDIA QUERIES */
/* =========================== */

/*# sourceMappingURL=styles.css.map */
