// NOT FOUND
.notfound {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    &__header {
        font-family: "IBM Plex Mono", monospace;
    }
    &__btn:hover {
        background-color: #000000;
        color: #ffffff;
    }
}