// MODULES
@use "main/index" as main-index;
@use "main/about";
@use "main/contact";
@use "post";

@use "admin/index" as admin-index;
@use "admin/login";
@use "admin/logout";
@use "admin/settings";
@use "admin/editinfo";
@use "admin/editpassword";
@use "admin/editpost";
@use "admin/editeditor";
@use "admin/createpost";
@use "admin/createeditor";
@use "admin/createcategory";
@use "admin/verifyaccount";
@use "admin/resetpassword";
@use "admin/vieweditors";
@use "admin/success";
@use "admin/forgotpassword";

/* =========================== */
/* START OF GLOBAL */
/* =========================== */
* {
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  letter-spacing: 0.5px;
  font-size: 1rem;
  font-weight: 300;
  position: relative;
  top: 80px;
  min-height: calc(100vh - 80px);
}

h1 {
  font-size: 32px;
}

a {
  text-decoration: none;
  color: #000000;
}

i {
  padding: 0px 10px;
  font-size: 1.25rem;
}

textarea,
input {
  font-family: "IBM Plex Sans", sans-serif;
}

.logo {
  display: flex;
  align-items: center;
  img {
    width: 55px;
  }

  span {
    font-family: "Questrial", sans-serif;
    font-size: 1rem;
    margin: 0px 2px;
  }
}

.btn {
  border: none;
  padding: 10px 15px;
  white-space: nowrap;
  transition: 0.45s;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1rem;
  &--black {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #000000;
  }

  &--white {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
  }

  &:hover {
    cursor: pointer;
  }
}

.search-bar {
  display: flex;
  align-items: center;
  width: fit-content;
  background-color: #f5f5f5;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 0px 10px;
  i {
    padding: 2px;
    color: #a5a5a5;
  }
  input[type="search"] {
    border: none;
    background-color: inherit;
    &:focus-visible {
      outline: none;
    }
  }
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}

.sorting {
  select {
    height: 2rem;
    background-color: white;
    border: 1px solid #000000;
    padding: 2.5px;
    &:focus {
      outline: none;
    }
  }
}

.home-icon {
  position: absolute;
  .fa-house {
    padding: 5px;
    font-size: 1.5rem;
  }
}

.icon-wrapper {
  height: 2rem;
  position: relative;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  display: none;
  background-color: #00000075;
  &--active {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__card {
    text-align: center;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
    min-width: 300px;
    width: 40%;
    height: 250px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    > span {
      margin: 5px;
      &.modal__question {
        margin: 10px;
        font-size: 1.25rem;
        font-weight: 400;
      }
      &.modal__post-author {
        color: #939393;
      }
      &.modal__post-date {
        margin-bottom: 15px;
        font-size: 14px;
        color: #a5a5a5;
      }
      &.modal__post-editor {
        margin: 10px;
        margin-bottom: 20px;
        color: #000000;
      }
    }
  }
  &__cancel {
    padding: 10px 15px;
    white-space: nowrap;
  }
}

.publish-err {
  text-align: center;
  margin-top: 1rem;
}

.message {
  display: block;  
  text-align: center;
  margin-top: 2rem;
}

.search {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 2rem;
}
/* =========================== */
/* END OF GLOBAL */
/* =========================== */

/* =========================== */
/* START OF NAVBAR */
/* =========================== */
.nav {
  background-color: #ffffff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0px 10px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
  &__logo {
    width: fit-content;
    a {
      height: 100%;
      display: flex;
      align-items: center;
      img {
        width: 55px;
      }
      span {
        font-family: "Questrial", sans-serif;
        font-size: 1rem;
        margin: 0px 2px;
      }
    }
  }

  &__nav-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 2;
  }

  &__social-links {
    display: flex;
    justify-self: flex-end;
  }

  &__search-btn {
    display: none;
    margin-left: auto;
    margin-right: 15px;
    i {
      padding: 0;
      font-size: 1.75rem;
      color: #a5a5a5;
    }
  }

  &__hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    // creates 3 bars for hamburger menu
    div,
    &::before,
    &::after {
      transition: 0.45s;
      content: "";
      background-color: #a5a5a5;
      height: 4px;
      width: 2.5rem;
      border-radius: 5px;
      margin: 3px 0px;
    }
    // creates "x" when the hamburger is active
    &--active::before {
      transform: rotate(-45deg) translate(-4px, 4px);
    }
    &--active::after {
      transform: rotate(45deg) translate(-3px, -3px);
    }
    &--active div {
      display: none;
    }
  }
}
/* =========================== */
/* END OF NAVBAR */
/* =========================== */

/* =========================== */
/* START OF MOBILE MENU */
/* =========================== */
.mobile-menu {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 100%;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  top: 80px;
  overflow: auto;
  height: 100%;
  transition: 0.45s;
  z-index: 100;
  &__nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    a {
      transition: 0.45s;
      width: 100vw;
      padding: 60px 0;
      &:hover {
        background-color: #000000;
        color: white;
      }
    }
  }

  &__social-links {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--active {
    left: 0;
  }
}
/* =========================== */
/* END OF MOBILE MENU */
/* =========================== */

// WRAPPER
.wrapper {
  display: grid;
  grid-template-columns: 8fr 4fr;
}

// MAIN SECTION
.main {
  padding: 1.5rem;
  min-height: calc(100vh - 80px);
}

// DIVIDER
.divider {
  display: none;
}

/* =========================== */
/* START OF ASIDE SECTION */
/* =========================== */
.aside {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
  top: 80px;
  position: sticky;
  overflow-y: scroll;
  &__popular-articles,
  &__most-recent {
    h3 {
      font-weight: 400;
      font-size: 1rem;
      margin: 30px 0px;
    }
  }

  &__article {
    margin: 15px 0px;
    padding: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
    transition: 0.45s;
    &:hover {
      transform: scale(0.975);
    }
  }

  &__newsletter {
    margin: 45px 0px;
    display: flex;
    flex-direction: column;
    h3 {
      font-weight: 400;
    }
    span {
      display: block;
      font-size: 12px;
      margin: 10px 0px;
    }
    form {
      display: flex;
      input {
        background-color: #f5f5f5;
        border: none;
        padding: 10px;
        height: 41px;
        min-width: 120px;
        font-size: 12px;
        &:focus-visible {
          outline: none;
        }
      }
    }
  }
}
/* =========================== */
/* END OF ASIDE SECTION */
/* =========================== */

// FOOTER
footer {
  padding: 1.5rem;
  text-align: left;
  width: 100%;
  .footer-text {
    font-size: 10px;
  }
}

/* =========================== */
/* START OF MEDIA QUERIES */
/* =========================== */
@media (max-width: 768px) {
  .modal__card {
    width: 60%;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }

  .divider {
    display: block;
    width: 85%;
    margin: 0 auto;
  }

  .aside {
    justify-content: center;
    align-items: center;
    position: static;
    height: 100%;
    &__newsletter {
      align-items: center;
      text-align: center;
    }
  }

  .nav {
    .search-bar {
      display: none;
    }

    &__nav-links {
      display: none;
    }

    &__social-links {
      display: none;
    }

    &__search-btn {
      display: block;
    }

    &__hamburger {
      display: flex;
      flex-direction: column;
    }
  }

  footer {
    text-align: center;
  }
}
/* =========================== */
/* END OF MEDIA QUERIES */
/* =========================== */
