// MODULES
@use "main/index";
@use "main/about";
@use "main/contact";

// GLOBAL
* {
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  letter-spacing: 0.5px;
  font-size: 1rem;
  font-weight: 300;
  position: relative;
  top: 80px;
  min-height: calc(100vh - 80px);
}

a {
  text-decoration: none;
  color: #000000;
}

i {
  padding: 0px 10px;
  font-size: 1.25rem;
}

.logo {
  display: flex;
  align-items: center;
  img {
    width: 55px;
  }
  span {
    font-family: "Questrial", sans-serif;
    font-size: 1rem;
    margin: 0px 2px;
  }
}

// NAVBAR
.navbar {
  background-color: #ffffff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0px 10px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);

  .nav-logo {
    width: fit-content;
    a {
      height: 100%;
      display: flex;
      align-items: center;
      img {
        width: 55px;
      }
      span {
        font-family: "Questrial", sans-serif;
        font-size: 1rem;
        margin: 0px 2px;
      }
    }
  }

  .search-bar {
    display: flex;
    background-color: #f5f5f5;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 0px 10px;
    i {
      padding: 2px;
      color: #a5a5a5;
    }
    input[type="search"] {
      border: none;
      background-color: inherit;
      &:focus-visible {
        outline: none;
      }
    }
    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
      -webkit-appearance: none;
    }
  }

  .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 2;
  }

  .social-links {
    display: flex;
    justify-self: flex-end;
  }
}

// MOBILE SEARCH BUTTON
.search {
  display: none;
  margin-left: auto;
  i {
    padding: 0;
    margin: 0px 15px;
    font-size: 1.75rem;
    color: #a5a5a5;
  }
}

// MOBILE HAMBURGER ICON
.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  // creates 3 bars for hamburger menu
  .bar,
  &::before,
  &::after {
    transition: 0.45s;
    content: "";
    background-color: #a5a5a5;
    height: 4px;
    width: 2.5rem;
    border-radius: 5px;
    margin: 3px 0px;
  }
  // creates "x" when the hamburger is active
  &.active::before {
    transform: rotate(-45deg) translate(-4px, 4px);
  }
  &.active::after {
    transform: rotate(45deg) translate(-3px, -3px);
  }
  &.active .bar {
    display: none;
  }
}

// MOBILE MENU
.mobile-menu {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 100%;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  top: 80px;
  overflow: auto;
  height: 100%;
  transition: 0.45s;
  z-index: 100;
  &.active {
    left: 0;
  }
}

// MOBILE MENU NAV LINKS
.mobile-menu__nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  a {
    transition: 0.45s;
    width: 100vw;
    padding: 60px 0;
    &:hover {
      background-color: #000000;
      color: white;
    }
  }
}

// MOBILE MENU SOCIAL LINKS
.mobile-menu__social-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

// WRAPPER
.wrapper {
  display: grid;
  grid-template-columns: 8fr 4fr;
}

// MAIN SECTION
.main-section {
  padding: 1.5rem;
}

// DIVIDER
.divider {
  display: none;
}

// ASIDE SECTION
.aside-section {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
  top: 80px;
  position: sticky;
  overflow-y: scroll;
  .popular-articles,
  .most-recent {
    h3 {
      font-weight: 400;
      font-size: 1rem;
      margin: 30px 0px;
    }

    .aside-article {
      margin: 15px 0px;
      padding: 10px;
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
      transition: 0.45s;
      &:hover {
        cursor: pointer;
        transform: scale(0.975);
      }
    }
  }

  .newsletter {
    margin: 45px 0px;
    display: flex;
    flex-direction: column;
    h3 {
      font-weight: 400;
    }
    .newsletter-info {
      display: block;
      font-size: 12px;
      margin: 10px 0px;
    }

    .signup-form {
      display: flex;
      input {
        background-color: #f5f5f5;
        border: none;
        margin: none;
        padding: 10px;
        height: 40px;
        font-size: 12px;
        &:focus-visible {
          outline: none;
        }
      }
      button {
        background-color: #000000;
        color: #ffffff;
        border: none;
        padding: 0px 15px;
        white-space: nowrap;
        transition: 0.45s;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

// FOOTER
footer {
  padding: 1.5rem;
  text-align: left;
  position: absolute;
  width: 100%;
  bottom: 0;
  .footer-text {
    font-size: 10px;
  }
}

// MEDIA QUERIES
@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr;
  }

  .divider {
    display: block;
    width: 85%;
    margin: 0 auto;
  }

  .aside-section {
    justify-content: center;
    align-items: center;
    position: static;
    height: 100%;
    .newsletter {
      align-items: center;
      text-align: center;
    }
  }

  .navbar {
    .search-bar {
      display: none;
    }
    .nav-links {
      display: none;
    }

    .social-links {
      display: none;
    }
  }

  .search {
    display: block;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
  }

  footer {
    text-align: center;
  }
}
